{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/site-base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/site-bootstrap.css' %}" />
  </head>
  <body>
    {% block body %} {% endblock %}
    <script src="{% static 'js/app-bundle.js%}"></script>
    <script src="{% static 'js/site-base-bundle.js%}"></script>
    <script src="{% static 'js/site-bootstrap-bundle.js%}"></script>
  </body>
</html>
